.App {
  text-align: center;
}

.watchlist {
  height: 300px;
}

.detailed-top {
display: flex;
flex-direction: row;
justify-content: space-between;
height: 300px;
}

.detailed-botton {
  display: flex;
  flex-direction: row;
  height: 300px;
}

.corp-data {
  height: 300px;
}