html {
  width: 100%;

}

body {
  color: black;
  width: 100%;
}

.App {
  text-align: center;
  width: 100%;
}
nav {
  display: flex;
  flex-direction: column;
  background-image: url('https://media.giphy.com/media/ko7twHhomhk8E/giphy.gif');
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: black;
  height: 250px;
}

.hero {
  text-decoration: none;
  color: rgba(255,255,255);
  text-shadow: 2px 3px 3px blue;
  font-size: 100px;
  margin-top: 30px;
  margin-left: 60px;
}

.sub-hero {
  text-decoration: none;
  color: rgba(255,255,255);
  text-shadow: 2px 3px 3px blue;
  font-size: 30px;
  margin: 0 65px
}

h4 {
  margin: 0;
}

.watchlist-grid {
  display: flex;
}

.add-watchlist {
  font-size: 100px;
  color: white;
  text-shadow: 2px 3px 4px black;
  margin-left: 30px;
}

.add-watchlist-center {
  font-size: 100px;
  color: white;
  text-shadow: 2px 3px 4px black;
  margin: 0 auto;
}

.add-watchlist h1 {
  margin: 0;
}

.add-watchlist-center h1 {
  margin: 0;
}

.add-watchlist:hover, .add-watchlist-center:hover {
  text-shadow: 4px 6px 8px black;
  font-size: 100px;
  cursor: default;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  font-size: 50px;
  width: 300px;
  background-color: rgba(0,0,0,.5);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  margin: 0;
  top: 100%;
  left: 50%;
  margin-left: -150px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

button {
  font-size: 20px;
  border: 2px solid black;
  background-color: lightgray;
  margin: 2px 5px;
}

button:hover {
  background-color: darkgray;
  color: white;
}

input {
  font-size: 20px;
  border: 2px solid black;
  margin: 2px 5px;
}
a:hover {
  color: red;
}

a.card:hover {
background-color: lightgray;
}

.watchlist {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: 1px solid black;
  padding: 30px;
  box-shadow: 0 4px 6px 4px gray;
  margin-top: 15px;
}

.watchlist h1 {
  text-align: center;
}

.close {
text-align: right;
margin: 0 0 0 90%;
padding: 5px;
width: 10px;
font-size: 25px;
}

.close:hover {
  text-shadow: 2px 3px 4px black;
  color: darkgray;
  cursor: default;
}

.simple-quote {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.top-row {
display: flex;
flex-direction: row;
justify-content: space-between;
margin: 0;
}

.bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

p {
  font-size: 20px;
}

.green {
background-color: lightgreen;
}

.red{
  background-color: pink;
}

.back {
  text-decoration: none;
  color: black;
}

.back h1 {
  margin: 0;
  padding: 5px 5px;
  background-color: darkgray;
}

.detailed {
  border: 1px solid black;
  padding: 30px;
  box-shadow: 0 4px 6px 4px gray;
}

.quote-chart {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.quote {
  height: 500px;
  border: 1px solid black;
  padding: 30px 30px 30px 50px;
  box-shadow: 0 4px 6px 4px gray;
  margin-bottom: 10px;
  font-size: 20px;
}

.chart {
  height: 500px;
  border: 1px solid black;
  padding: 30px;
  box-shadow: 0 4px 6px 4px gray;
  margin-bottom: 10px;
  /* width: 725px; */
}

.detailed-botton {
  display: flex;
  flex-direction: row;
  height: 300px;
}

.hero-data {
  border: 1px solid black;
  padding: 30px;
  box-shadow: 0 4px 6px 4px gray;
  margin-top: 10px;
}

.hero-data h1 {
font-size: 50px;
margin: 0;
}

/* .logo {
  margin-left: 200px;
} */

.img-logo {
  box-shadow: 0 2px 3px 2px gray;
  border-radius: 100%;
  height: 200px;
  width: 200px;
  object-fit: contain;
  padding: 5px;
  margin-top: 90px;
  margin-left: 30px;
}

.img-logo:hover {
  box-shadow: 0 4px 6px 4px gray;
}

.description {

}

.primary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.corp-data {
  height: 300px;
  margin-top: 30px;
}
.map-card {
background-color: white;
box-shadow: 0 2px 3px 2px gray;
margin-right: 60px;
text-align: center;
}

.map-card p {
padding-bottom: 20px;
}

.img-map {
  height: 400px;
  object-fit: contain;
  width: auto;
}

footer {
  text-align: center;
  font-size: 30px;
}

.footer {
  text-decoration: none;
  color: black;
  padding: 20px;
}

@media screen and (max-width: 1500px) {
  .watchlist-grid {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1000px) {

.detailed {
    border: 1px solid black;
    padding: 30px;
    box-shadow: 0 4px 6px 4px gray;
    width: 90%;
}

.quote-chart {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.quote {
  height: 300px;
  width: 90%;
}

.chart {
  height: 400px;
  width: 92.5%;
}

.quote h1{
  font-size: 30px;
  margin-top: 10px;
}

.quote h3{
  font-size: 20px;
}

.hero-data h2 {
  font-size: 20px;
}

.primary {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.logo {
  margin: 0 auto;
}

.img-logo {
  margin: 10px;
}

.map-card {
  margin: 10px auto;
  width: 90%;
}

.img-map {
  height: auto;
  width: 100%;

}

}

@media screen and (max-width: 740px) {
  .watchlist-grid {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .add-watchlist {
    display: block;
    margin:0 auto;
  }
}

@media screen and (max-width: 650px) {
h1 {
font-size: 25px;
}

.watchlist {
  width: 260px;
}

.add-watchlist h1 {
  font-size: 100px;
}

.add-watchlist-center h1 {
  font-size: 100px;
}

h2 {
  font-size: 2px;
}

h3 {
  font-size: 15px;
  margin: 9px;
}

  nav {
    height: 150px;
    width: 100%;
  }
  
  .hero {
    font-size: 50px;
    margin: 30px auto 10px auto;
  }
  
  .sub-hero {
    font-size: 20px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 300px) {

  h1 {
    font-size: 15px;
  }

  .detailed {
    width: 100%;
  }

  .quote {
    width: 80%;
    margin: 0;
  }

  .quote h1 {
    font-size: 15px;

  }

  .hero-data h3 {
    font-size: 10px;
    margin: 0;
  }

  .chart {
    padding: 80%;
  }

}